.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.botao {
  color: var(--cor-p-5);
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.333;
  text-transform: uppercase;
  border-radius: 4px;
  background: linear-gradient(180deg, #ffbf00, #f2a50c);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #d59317);
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 16px;
  background: url(../../img/icones/seta.svg);
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

#atual::after {
  width: 100%;
  background: var(--cor-p-1);
}

.titulo-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo h1 {
  color: var(--cor-0);
}

.titulo span:not(.ponto) {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cor-5);
  padding-bottom: 8px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .titulo span:not(.ponto) {
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.ponto {
  color: var(--cor-p-1);
}
