:root {
  --cor-12: #000000;
  --cor-11: #111111;
  --cor-10: #2e2e2e;
  --cor-9: #404040;
  --cor-8: #595959;
  --cor-7: #717171;
  --cor-6: #9c9c9c;
  --cor-5: #b2b2b2;
  --cor-4: #cccccc;
  --cor-3: #dedede;
  --cor-2: #ededed;
  --cor-1: #f7f7f7;
  --cor-0: #ffffff;
  --cor-p-5: #332200;
  --cor-p-4: #664400;
  --cor-p-3: #a66f00;
  --cor-p-2: #e4a30b;
  --cor-p-1: #ffbb00;
}
