#contato {
  background: var(--cor-1);
}

.contato-bg {
  background: var(--cor-1);
  box-shadow: inset 0 315px var(--cor-11);
  display: flex;
  margin-bottom: 120px;
}

.contato {
  margin-top: 20px;
  display: flex;
  justify-self: center;
}

.contato-info {
  background: var(--cor-12);
  border-radius: 4px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 60px;
  padding-right: 180px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.contato-info h3 {
  color: var(--cor-0);
  padding-bottom: 28px;
}

.contato-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.contato-info ul {
  color: var(--cor-4);
}

.contato .redes-sociais {
  padding-top: 20px;
  padding-left: 24px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--cor-0);
  gap: 20px 20px;
  padding: 60px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  padding-bottom: 4px;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: var(--cor-p-1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

.formulario input,
.formulario textarea {
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.formulario #email-box,
.formulario #mensagem-box {
  grid-column: 1 / -1;
}

.formulario .botao {
  grid-row: 4;
  width: fit-content;
}

@media (max-width: 1200px) {
  .contato {
    margin-top: 0px;
  }

  .contato-info {
    padding: 36px;
  }

  .contato-bg {
    margin-bottom: 60px;
  }

  .formulario {
    padding: 40px;
  }

  .formulario .botao {
    grid-row: 5;
  }
}

@media (max-width: 800px) {
  .contato-bg {
    margin-bottom: 60px;
    box-shadow: inset 0 388px var(--cor-11);
  }

  .contato {
    padding-top: 60px;
    flex-direction: column;
  }

  .contato-info {
    padding: 32px;
    border-radius: 4px 4px 0px 0px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .contato-itens {
    grid-column: 1;
    height: fit-content;
  }

  .contato-info .redes-sociais {
    align-self: end;
    padding: 0px;
    gap: 16px;
  }

  .contato-info h3 {
    padding-bottom: 0px;
    grid-column: 1 / -1;
  }

  .formulario .botao {
    font-size: 0.875rem;
  }
}

@media (max-width: 500px) {
  .contato-info .redes-sociais {
    grid-column: 1;
  }

  .formulario {
    grid-template-columns: 1fr;
  }

  .contato {
    padding-top: 20px;
  }

  .contato-bg {
    margin-bottom: 36px;
    box-shadow: inset 0 404px var(--cor-11);
  }
}
