.depoimento {
  background: var(--cor-p-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 80px;
}

.depoimento img {
  border-radius: 0px;
  height: 100%;
}

.depoimento p {
  padding-bottom: 32px;
  padding-right: 40px;
  color: var(--cor-p-5);
  font-family: Merriweather;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.333;
  max-width: 27ch;
  position: relative;
}

.depoimento p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p-2);
  position: absolute;
  left: -50px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p-2);
  position: absolute;
}

.depoimento span {
  color: var(--cor-p-4);
}

.citacao {
  padding-bottom: 80px;
}

@media (max-width: 1200px) {
  .depoimento {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-left: 0px;
    text-align: center;
  }

  .depoimento img {
    display: none;
  }

  .depoimento p {
    font-size: 1.8rem;
    max-width: max-content;
    padding-bottom: 12px;
    padding-right: 0px;
  }

  .depoimento p::before,
  .depoimento p::after {
    display: none;
  }

  .depoimento .citacao {
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .depoimento p {
    font-size: 1.5rem;
  }

  .depoimento span {
    font-size: 1rem;
  }
}
