.seguros-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 80px;
}

.seguros h2 {
  color: var(--cor-0);
  padding-bottom: 60px;
}

.seguros-planos {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 60px;
  justify-content: space-evenly;
}

.plano-box {
  background-color: var(--cor-12);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 64px;
  padding-top: 32px;
}

.prata h3,
.ouro h3 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.333;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.prata {
  height: fit-content;
}

.prata h3 {
  color: var(--cor-6);
}

.ouro h3 {
  color: var(--cor-p-2);
}

.plano-box li {
  color: var(--cor-0);
  padding-bottom: 20px;
  position: relative;
}

.plano-box li:last-child {
  padding-bottom: 32px;
}

.plano-box li::before {
  content: "";
  display: block;
  position: absolute;
  background: url(/img/icones/lista.svg);
  height: 9px;
  width: 13px;
  top: 7px;
  left: -24px;
}

.plano-box h4 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--cor-0);
  text-align: right;
  padding-right: 32px;
}

.valor {
  text-align: right;
}

.plano-box span {
  color: var(--cor-6);
  padding-right: 32px;
}

.plano-box .botao {
  margin-bottom: 32px;
}

.prata .botao {
  background: var(--cor-10);
  color: var(--cor-4);
}

.prata .botao:hover {
  background: var(--cor-9);
}

@media (max-width: 1000px) {
  .seguros-planos {
    justify-content: initial;
    gap: 40px;
    display: grid;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .seguros-bg {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .seguros h2 {
    padding-bottom: 32px;
  }

  .seguros-planos {
    gap: 12px;
  }

  .plano-box {
    padding-left: 32px;
    padding-top: 20px;
  }

  .plano-box h4,
  .plano-box h3 {
    font-size: 1.5rem;
  }

  .plano-box li {
    font-size: 1rem;
  }

  .plano-box li::before {
    display: none;
  }
}
