.clausulas {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.termos h2 {
  padding-bottom: 20px;
  font-weight: 600;
}

.termos li {
  padding-bottom: 20px;
  font-weight: 400;
  width: 75ch;
}

@media (max-width: 800px) {
  .termos li {
    width: auto;
  }

  .clausulas {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 32px;
  }
}
